<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- <title>Draconic Ascension | Occult Blog |  Hermetic Researcher | Tarot Reading Scrying Divination | Alchemy Angels Demons Spirits | Qabalah Sephiroth Qlipoth</title> -->
    <title>{{pageTitle}}</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <!-- Custom Style -->
    <link href="occult.css" rel="stylesheet">
    <!-- <link href="fontawesome-all-mod.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

     <!-- Header -->
     <header class="site-header" role="banner">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="occult/icons/pentafire-brand.png" alt="PentaFire"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#about">About</a></li>
              </ul>

              <ul class="nav navbar-nav pull-right">
                 <li class="disabled"><a href="garden.html">The Garden</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

     </header>



     <!-- Welcome Mat Section -->
     <section id="welcome" data-type="background" data-speed="2">
     <div class="container">
        <div class="row">
           <div class="col-sm-4">
             <img src="occult/icons/oroborus-dragon-beleth.png">
           </div>

           <div class="col-sm-8 headline">
             <h2>In Darkness, we found Light</h2>

             <p>
                Suspendisse dictum, enim ac pellentesque ullamcorper, massa lacus vulputate erat, ac commodo arcu mauris eget augue. Sed vel magna magna. Cras eu neque nec eros congue tempor quis vel ligula. Suspendisse porta ante sed lacus elementum, in lacinia metus imperdiet.
             </p>
             <div class="row">
                <div class="col-sm-3">
                   <a href="#"><div class="sign">
                      <h4>Tune into the Podcast</h4>
                   </div>
                     <div class="sign-badge">
                        <p>Tuesday @ 2PM EST</p>
                     </div></a>
                </div>

                <div class="col-sm-3">
                   <a href="#"><div class="sign">
                      <h4>Check out our Tutorials</h4>
                   </div>
                      <div class="sign-badge">
                         <p>Magick<br>A - Z</p>
                      </div></a>
                </div>

                <div class="col-sm-3">
                   <a href="#"><div class="sign">
                   <h4>Follow Weekly Blog Posts</h4>
                </div>
                  <div class="sign-badge">
                     <p>Friday @ 9 AM EST</p>
                  </div></a>
                </div>
             </div>
          </div>
       </div><!-- End row -->
     </div>
</section>

<!-- Subscribe Section -->
<section id="subscribe">
   <div class="container">
     <div class="row">

        <div class="col-sm-8">
           <p class="lead"><strong>Subscribe to our mailing list to keep up on the latest news.</strong></p>
           <p>Sign up now and recieve a free eBook as a thank you!</p>
        </div>

        <div class="col-sm-4">
           <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Subscribe Today</button>
        </div>

     </div>
  </div>
</section>

<!-- Boost your income -->
<section id="boost-life">
   <div class="container">
     <div class="section-header">
        <img src="occult/icons/star.png" alt="pentagram" class="boost">
        <h2>Go beyond your Potential</h2>
     </div>

     <p class="lead">Suspendisse potenti. Nullam congue orci elementum lectus laoreet dictum. Cras rhoncus eros sit amet</p>

     <div class="row">
        <div class="col-sm-6">
           <h3>Call forth and conquore your demons</h3>
           <p>Sed laoreet massa sit amet ipsum scelerisque, sit amet vehicula ipsum condimentum. Praesent efficitur orci ligula, non commodo nibh sagittis vitae. Fusce tempor lorem tincidunt felis ultrices maximus. . </p>
           <p class="text-center"><img class="boost-img" src="occult/icons/demon.png" alt="demonology"></p>
        </div>
        <div class="col-sm-6">
           <h3>Align the heavens to deliver your dreams</h3>
           <p> Nunc dignissim accumsan aliquet. Maecenas convallis lorem sed mauris finibus, eu finibus velit suscipit. Mauris a vulputate nunc, non bibendum ex. Aenean erat nisi, aliquam ornare nisl a, pulvinar vulputate dui. Praesent porttitor ullamcorper metus</p>
           <p class="text-center"><img class="boost-img" src="occult/icons/angel-3.png" alt="Enochian"></p>
        </div>
     </div>
   </div>
</section>

<!-- Video Section -->

<section id="video" data-type="background" data-speed="3">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <h2>Watch the Teaser Trailer!</h2>
           <iframe width="100%" height="415" src="https://www.youtube.com/embed/QdIYVXCfrQM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
      </div>
   </div>
</section>

<!-- Unique Features Section -->

   <section id="features">
      <div class="container">
         <div class="row">
            <div class="col-sm-12"> <!-- Full width Banner -->
               <h2>Our circle offers these great services</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-2">
               <img class="icon" src="occult/icons/crystal-ball.png" alt="scrying mirror">
               <p><small>Scrying</small></p>
            </div>

            <div class="col-sm-2">
               <img class="icon" src="occult/icons/tarot-cards.png" alt="tarot cards">
               <p><small>Tarot</small></p>
            </div>

            <div class="col-sm-2">
               <img class="icon" src="occult/icons/black-cat.png" alt="black cat">
               <p><small>Consoltations</small></p>
            </div>

            <div class="col-sm-2">
               <img class="icon" src="occult/icons/spell-book.png" alt="Book of Shadows">
               <p><small>Grimoires</small></p>
            </div>

            <div class="col-sm-2">
               <img class="icon" src="occult/icons/podcast.png" alt="Podcast Microphone">
               <p><small>Podcast</small></p>
            </div>

            <div class="col-sm-2">
               <img class="icon" src="occult/icons/blog.png" alt="Personal Experience">
               <p><small>Detailed Accounts</small></p>
            </div>
         </div>
      </div>
   </section>

<!-- Hook Section -->

   <section id="hook">
      <div class="container">
         <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
               <h2>From Sephiroth to Qlipoth</h2>
               <p>Faucibus purus ultricies nec. In varius blandit massa ac iaculis. Maecenas mollis lacinia porttitor. Aliquam erat volutpat. Vivamus vehicula eros non justo commodo, ac tristique nulla pulvinar. Pellentesque cursus lacinia felis, quis interdum est pellentesque vitae.</p>
               <hr>
               <p> <em>Praesent nulla ligula, molestie non rhoncus in, accumsan at arcu. Quisque ultricies hendrerit condimentum. Praesent viverra ipsum sed diam commodo, ut laoreet purus mattis.</em></p>
               <hr>
               <p>Donec tempus pretium sem. Vivamus consectetur dolor quis tempor pretium. Pellentesque nulla dui, sodales vel neque eu, varius auctor leo. Suspendisse dictum, enim ac pellentesque ullamcorper, massa lacus vulputate erat, ac commodo arcu mauris eget augue. Sed vel magna magna. Cras eu neque nec eros congue tempor quis vel ligula.</p>
               <p> Suspendisse porta ante sed lacus elementum, in lacinia metus <strong>imperdiet</strong>. Quisque efficitur eros aliquam lectus viverra imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
               <p>Sed sit amet malesuada lorem, vel pulvinar lorem. Mauris lacinia eros sit amet erat consectetur, ut viverra lectus fringilla. Phasellus ante lacus, imperdiet non urna nec, elementum vulputate dolor.</p>

               <p>Nulla purus elit, aliquam ut condimentum sed, lobortis id augue. Quisque venenatis a justo eget finibus. <em>Quisque orci ipsum, convallis quis elementum sed, mollis sed diam</em>. Curabitur sed dolor rhoncus dui vehicula vehicula. Nullam vitae risus eu tellus sollicitudin volutpat. Maecenas interdum augue nisi, maximus volutpat urna tristique et. Fusce at dolor laoreet, bibendum nibh sit amet, lobortis massa. Nullam mollis, nulla pharetra bibendum fermentum, augue ante viverra mi, in varius tellus diam mattis quam.</p>

               <hr>

               <p>Sagittis orci et tincidunt sollicitudin. Proin auctor interdum erat ut accumsan. <strong>Suspendisse convallis porta nisl, id facilisis purus consectetur interdum.</strong> Fusce gravida pulvinar orci, ut posuere erat maximus eu. In non dolor quis quam tincidunt vehicula at sit amet tellus. Integer nec leo sed diam iaculis ornare eget nec elit.</p>

               <hr>

               <p>Suspendisse <em>sagittis</em> lectus ipsum, nec auctor lectus eleifend vitae. Morbi in sem commodo, dapibus arcu nec, sollicitudin diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vitae porta enim. Sed vel mauris non ex cursus bibendum a ac eros. Fusce vestibulum libero in justo feugiat facilisis. <em>Mauris luctus tellus eu nisl tempor, nec rhoncus dui vehicula. Suspendisse purus magna, venenatis ut sagittis at, volutpat sed velit.</em></p>
            </div>
            </div>
      </div>
   </section>

   <!-- Developer -->
   <section id="developer">
     <div class="container">
         <div class="row">
          <div class="col-sm-8 col-md-6 backdrop">
             <div class="row">
                 <div class="col-lg-8">
                    <h2>What's Under the Hood? <small>PentaFire</small></h2>
                 </div>
                 <div class="col-lg-4">
                    <a href="#" target="_blank" class="badge social facebook"><span class="social social-facebook"></span></a>
                    <a href="#" target="_blank" class="badge social twitter"><span class="social social-twitter"></span></a>
                    <a href="#" target="_blank" class="badge social tumblr"><span class="social social-tumblr"></span></a>
                    <a href="#" target="_blank" class="badge social google-plus"><span class="social social-google-plus"></span></a>
                 </div>
             </div>

             <p class="lead">Proin id sodales sem. Nam suscipit, tortor at scelerisque</p>

             <p>Donec varius sem nunc, vitae lacinia nisl lobortis non. Praesent ac suscipit nibh. Cras pulvinar ornare mauris at venenatis. Duis elementum fermentum maximus. Integer sit amet aliquam nisl.</p>

             <p>Quisque vitae vehicula ex. Nam eget erat dolor. Sed viverra bibendum semper. Curabitur id ligula. Suspendisse porta lorem quis mauris aliquet facilisis.</p>

             <p>Cincibus hendrerit dui, eu tincidunt leo lacinia id. Morbi sit amet arcu lobortis, convallis turpis et, viverra quam. Nullam vitae magna nec elit vehicula dapibus sit amet tristique elit. Nam in dignissim elit. Maecenas hendrerit dictum purus non eleifend.</p>.

             <hr>

             <h3>The System <small>Reveals Truth</small></h3>

             <div class="row">

                 <div class="col-xs-4">
                    <div class="num">
                      <div class="num-content">
                         Beyond 72<span><br><small>Angels & Demons</small></span>
                      </div>
                    </div>
                 </div>
                 <div class="col-xs-4">
                    <div class="num">
                      <div class="num-content">
                         Deeper than<span><br><small>5 Elements</small></span>
                      </div>
                    </div>
                 </div>
                 <div class="col-xs-4">
                    <div class="num">
                      <div class="num-content">
                         Further than<span><br><small>Planetary Forces</small></span>
                      </div>
                    </div>
                 </div>

             </div>


          </div>
        </div>
     </div>
</section>


     <!-- Sign up section -->

     <section id="signup" data-type="background" data-speed="4">
        <div class="container">
            <div class="row">
               <div class="col-sm-6 col-sm-offset-3">
                  <h2>Are you ready to take your life to the <strong>next level</strong>?</h2>

                  <p><a href="#" class="btn btn-lg btn-block btn-danger">Yes, sign me up!</a></p>

               </div>
            </div>
        </div>

     </section>

     <!-- Footer -->
     <footer>
        <div class="container">
           <div class="col-sm-4">
             <p><a href="index.html"><img src="occult/icons/pentafire-brand.png" alt="PentaFire Logo"></a></p>
           </div>
           <div class="col-sm-5">
             <nav>
                <ul class="list-unstyled list-inline">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Blog</a></li>
                   <li><a href="#">Resources</a></li>
                   <li><a href="#">Contact</a></li>
                   <li class="signup-link"><a href="#">Sign up now</a></li>
                </ul>
             </nav>
          </div>
          <div class="col copyright">
             <p class="float-right">&copy; {{currentYear}} Greg Voskuhl</p>
        </div>
     </div>
     </footer>

     <!-- Modal -->
     <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-envelope"></i> Subscribe to our Mailing List</h4>

             </div>

             <div class="modal-body">
                <p> Simply enter your name and email. As a thank you for joining us, we're going to give you one of our faviorte ebooks, <em>for free!</em></p>

                <form class="form-inline" role="form">
                   <div class="form-group">
                      <label class="sr-only" for="subscribe-name">Your first name</label>
                      <input type="text" class="form-control" id="subscribe-name" placeholder="Your first name">
                   </div>

                   <div class="form-group">
                      <label class="sr-only" for="subscribe-email">Your email</label>
                      <input type="email" class="form-control" id="subscribe-name" placeholder="example@domain.com">
                   </div>

                   <input type="submit" class="btn btn-danger" value="Subscribe!">
                </form>

             </div>
          </div>
        </div>
     </div>








    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="occult.js"></script>
  </body>
</html>
