<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">

	<!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<link rel="stylesheet" href="yummy.css">

	<title>{{pageTitle}}</title>
</head>

<body>
<div id="page" class="site">

<header class="site-header" role="banner">
   <div class="fullscreen slanted" id="home-banner">
      <div class="container">

			<div class="row navbar nav navbar-expand-lg">
			   <div class="col-md-4 navbar">
		         <a class="navbar-brand" href="/home/"><!--<img src="Images/creative-dining-logo.png" alt="Creative Dining">-->Delicious Dining</a>
					<button id= "nav-Button" class="navbar-dark navbar-toggler float-right" type="button" data-toggle="modal" data-target="#navModal" aria-controls="#navModal" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
			   </div>

				<div class="col-sm-8">

		<div class="row">
        	<div class="col-lg">

				<div class="navbar" id="topbar">
					<!-- Top Nav -->
					<div class="navbar-nav collapse navbar-collapse" id="tbar">
						<div class="navbar-nav ml-auto">
							<a class="nav-item nav-link" href="/contact/">CONTACT</a><span class="vert-bar">|</span>
							<a class="nav-item nav-link" href=" http://newton.newtonsoftware.com/career/CareerHome.action?clientId=8a7882675847984a01586a63bec80f7d">WORK WITH US</a><span class="vert-bar">|</span>
							<a class="nav-item nav-link" href="/login/">MEMBERS PORTAL</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	   <div class="row" >
	      <nav class="navbar">
	      <!-- Bot Nav -->
		      <div class="col-md-12 collapse navbar-collapse" id="navbar-bar" >

               <ul class="nav navbar-nav float-right" id="botbar">

                 <li class="nav-item dropdown">
                   <a class="nav-link" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Being Creative<span class="sr-only">(current)</span>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                     <a class="dropdown-item" href="/history/">History of Creative Dining</a>
                     <a class="dropdown-item" href="/philosophy/">Philosophy</a>
                     <a class="dropdown-item" href="/people/">Our People</a>
                     <a class="dropdown-item" href="/responsive/">Being Responsive</a>
                   </div>
                 </li>

                 <li class="nav-item dropdown">
                   <a class="nav-link" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     So Why Us?
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                     <a class="dropdown-item" href="/creative/">Creativity &amp; Flexibility</a>
                     <a class="dropdown-item" href="/quality/">Quality &amp; Integrity</a>
                     <a class="dropdown-item" href="/food/">Food Matters</a>
                     <a class="dropdown-item" href="/cic/">CIC</a>
                     <a class="dropdown-item" href="/collaboration/">Collaborations</a>
                   </div>
                 </li>

                 <li class="nav-item dropdown">
                   <a class="nav-link" href="#" id="navbarDropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Our Expertise
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown-3">
                     <a class="dropdown-item" href="/university/">College &amp; University Dining</a>
                     <a class="dropdown-item" href="/senior-living/">Senior Living Dining</a>
                     <a class="dropdown-item" href="/industry/">Buisness &amp; Industry Dining</a>
                     <a class="dropdown-item" href="/conference/">Conference Center Operations</a>
                     <a class="dropdown-item" href="/consulting/">Consulting Services</a>
                     <a class="dropdown-item" href="/reviews/">What our Clients Say</a>
                     <a class="dropdown-item" href="/collaboration/">Collaboration</a>
                   </div>
                 </li>

                 <li class="nav-item dropdown">
                   <a class="nav-link" href="#" id="navbarDropdown-4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     A Better World
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown-4">
                     <a class="dropdown-item" href="/grow/">Grow Program</a>
                     <a class="dropdown-item" href="/farmstead/">FarmStead</a>
                     <a class="dropdown-item" href="/trashed/">Trashed</a>
                     <a class="dropdown-item" href="/seed-certification">SEED Certficiations</a>
                     <a class="dropdown-item" href="/sourcing/">Sourcing</a>
                  </div>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link" href="/blog/">Blog</a>
                 </li>

           		</ul>
				</div>
			</nav>
		</div>
	</div> <!-- Right Side of navbar-->


	</div> <!-- End Container Row -->
</div> <!-- End Container -->
<div class="container">
	<div class="row">
		<div class="col">
<h2 class="text-align-center">{{headerTitle}}</h2>

<p class="text-align-center"><a id="header-arrow" href="#reviews"> &darr;</a></p>
		</div>
	</div>
</div>
</div><!-- End Slanted Effect -->

	</header>


<!-- Reviews Section -->
<section id="reviews">
   <div class="container">
      <div class="row">
         <!-- Review Headline -->
         <div class="col-md-10 mx-auto">
            <h2>Vestibulum dapibus nibh</h2>
         </div>
      </div>

      <div class="row mx-auto">
         <!-- Review Comments -->
         <div class="col-10 mx-auto">
            <div class="row">
               <div class="col-md-4">
                  <span class="bullet">"</span>
                  <p class="comment">
                     Vestibulum dignissim quam in erat ultricies, porttitor scelerisque mi semper
                  </p>

                  <p class="name">
                     Julius Caeasar
                  </p>

                  <cite>Owner/Founder</cite>
               </div>


               <div class='col-md-4'>
                  <span class="bullet">"</span>
                  <p class="comment">
                     Suspendisse quis diam tellus. Sed lectus libero, hendrerit in libero at, tempor suscipit felis.
                  </p>

                  <p class="name">
                     Antonio Augustus
                  </p>

                  <cite>Manager</cite>
               </div>

               <div class='col-md-4'>
                  <span class="bullet">"</span>
                  <p class="comment">
                     Phasellus sem tellus, ullamcorper ut turpis nec, ornare ultricies ligula.
                  </p>

                  <p class="name">
                     Michael Antinqo
                  </p>

                  <cite>Head Chef</cite>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Program section -->
<section id="program" class="program-background">
   <div class="container">
      <div class="row program-banner">
         <!-- Program Banner -->
         <div class="col-xs-10">
            <div class="row">
               <!-- Main Banner -->
               <div class="col-lg-4 offset-md-2">
                  <h2>Quisque vitae lacinia metus</h2>
               </div>

               <div class='col-lg-4 mx-auto get-started'>
                  Aenean massa libero, rhoncus nec euismod<br>
                  <a href="#" class="btn btn-primary btn-outline-primary btn-block text-align-center">Donec blandit</a>
               </div>
            </div> <!-- Closes Main Banner -->



         </div>
      </div>



   </div>


</section>

<div class="container">
   <div class="row mx-auto">
      <div class='col-10 mx-auto'>

         <div class="row">
            <!-- Badges -->
            <div class="col-lg-4">
               <div class="badge">
                  <img src="Images/food-1.jpeg" alt="food example">
                  <div class="badge-title">
                     Donec sollicitudin
                  </div>
               </div>

            </div>

            <div class="col-lg-4">
               <div class="badge">
                  <img src="Images/person-1.jpeg" alt="food example">
                  <div class="badge-title">
                     Pellentesque venenatis
                  </div>
               </div>

            </div>

            <div class="col-lg-4">
               <div class="badge">
               <img src="Images/food-2.jpeg" alt="food example">

                  <div class="badge-title">
                     Quisque magna
                  </div>
               </div>
            </div>
         </div>


      </div>

   </div>
</div>

<!-- Flip Banner Section -->
<section id="flip-banner">
   <div class="container-fluid">

      <div class="floating-image" id="banner-1-container">
         <img id="banner-image-1" src="Images/food-3.jpeg" alt="banner-image">


      <div class="row flipper" id="discover-1">
         <!-- Discover -->


         <div class="flip-badge" id="flip-first">

            <div class="badge-text" id="flip-1">
               <h4>Aliquam tempor justo eu</h4>
               <h2><strong>Nunc a elit erat</strong></h2>
               <p>Nam ac tincidunt dolor. Donec sollicitudin nibh consectetur, cursus justo vel, venenatis lorem. Nunc a elit erat. Aliquam tempor justo eu libero efficitur posuere. Sed porta tortor ipsum, ut finibus dolor lobortis auctor. Quisque vitae lacinia metus. Phasellus sem tellus, ullamcorper ut turpis nec, ornare ultricies ligula.</p>
               <a href="#" class="flip-link float-right">Pellentesque venenatis tincidunt<strong>&rarr;</strong></a>
            </div>


         </div>



      </div>
      </div>

      <div class="floating-image">
         <img id="banner-image-2" src="Images/person-2.jpeg" alt="stock person">


      <div class="row flipper" id="discover-2">
         <!-- Every Bite -->

         <div class="flip-badge">

            <div class="badge-text" id="flip-2">
               <h4>Sed scelerisque leo nec</h4>
               <h2><strong>Integer maximus</strong></h2>
               <p> Sed luctus eget dolor a molestie. Donec interdum justo est, quis euismod enim dignissim eget. Proin pharetra a sapien at rutrum. Ut iaculis sapien et sapien maximus faucibus. Phasellus accumsan porttitor libero sit amet scelerisque. Ut et porta metus. Aenean massa libero, rhoncus nec euismod a, lacinia sed sapien.</p>
               <a href="#" class="flip-link float-right">Donec dapibus mi eget lacus sollicitudin luctus. Donec eget erat scelerisque, feugiat eros vitae, fringilla nisl. Fusce ornare mollis erat, id bibendum erat porta in.  <strong>&rarr;</strong></a>
            </div>


         </div>

      </div>

   </div>



   </div>
</section>


<footer id="site-footer" class="home-footer">
<div class="container">
 <div class="row">
	 <!-- Site Map -->
	 <div class="col-sm-8">
		 <div class="row sitemap">
			 <!-- Site Links -->
			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>BEING CREATIVE</h4>
				 <ul>
					 <li><a href="/history/">History of Creative Dining</a></li>
					 <li><a href="/philosophy/">Philosophy</a></li>
					 <li><a href="/people/">Our People / Team</a></li>
					 <li><a href="/responsive/">Being Responsive</a></li>
				 </ul>
			 </div>

			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>SO WHY US</h4>
				 <ul>
					 <li><a href="/creative/">Creativity &amp; Flexibility</a></li>
					 <li><a href="/quality/">Quality &amp; Integrity</a></li>
					 <li><a href="/food/">Food Matters</a></li>
					 <li><a href="/cic/">CIC</a></li>
					 <li><a href="/collaboration/">Collaboration</a></li>
				 </ul>
			 </div>

			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>OUR EXPERTISE</h4>
				 <ul>
					 <li><a href="/university/">College &amp; University Dining</a></li>
					 <li><a href="/senior-living/">Senior Living Dining</a></li>
					 <li><a href="/industry/">Business &amp; Industry Dining</a></li>
					 <li><a href="/conference/">Conference Center Operations</a></li>
					 <li><a href="/consulting/">Consulting Services</a></li>
					 <li><a href="/reviews/">What our Clients Say</a></li>
					 <li><a href="/collaboration/">Collaboration</a></li>
				 </ul>
			 </div>

			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>A BETTER WORLD</h4>
				 <ul>
					 <li><a href="/grow/">Grow Program</a></li>
					 <li><a href="/farmstead/">Farmstead</a></li>
					 <li><a href="/trashed/">Trashed</a></li>
					 <li><a href="/seed-certification/">SEED Certification</a></li>
					 <li><a href="/sourcing/">Sourcing</a></li>

				 </ul>
			 </div>

			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>CONTACT US</h4>
				 <ul>
					 <li><a href="#">Talk to a real person now</a></li>
					 <li><a href="" id="modal-call" data-toggle="modal" data-target="#myModal" >Send us an email</a></li>
				 </ul>
			 </div>

			 <div class="col-sm-6 col-md-4 col-xl-3">
				 <h4>WORK WITH US</h4>
				 <ul>
					 <li><a href="#">Our Culture</a></li>
					 <li><a href=" http://newton.newtonsoftware.com/career/CareerHome.action?clientId=8a7882675847984a01586a63bec80f7d">Job Postings</a></li>
					 <li><a href="#">Creative University</a></li>
				 </ul>
			 </div>
		 </div>

	 </div>
</div>
    <!-- Contact info -->
   <div class="row">
      <div class="col-xs-2 ml-auto">
  		 <!-- Contact Info -->
  		 <div class="contact-box">
  			 <a href="#">Facebook</a>|<a href="#">Twitter</a>
  			 <p>Phone:</p>
  			 <h3>616.748.1700</h3>
  			 <br>
  		 </div>
       <!-- <img id="foot-logo" src="/Images/creative-dining-logo-dark.png" alt="Creative Dining"> -->
  	 </div>
   </div>




 <div class="row">
	 <!-- Legal -->
	 <div class="col-xs-10 mr-auto">
		 <p>
			 Copyright &copy; Creative Dining Services 2017 |
			 <a href="#">Sitemap</a> | <a href="#">Privacy</a>
		 </p>
	 </div>

	 <div class="col-xs-2 text-align-right">
		 <p>One Royal Park Drive, Suite #3</p>
		 <p>Zeeland, MI 49464</p>
	 </div>
 </div>

</div>



</footer>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">

          <h4 class="modal-title" id="myModalLabel"><i class="fa fa-envelope"></i> Subscribe to our Mailing List</h4>
			 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       </div>

       <div class="modal-body">
          <p> Have a question? We're quick to respond!</p>

					<!-- Contact form -->



					<form class="form-group">
					<div class="row">
					 <div class="col-md-6">
					     <input class="form-control" type="text" placeholder="First Name" name="first">
					 </div>

					 <div class='col-md-6'>
					     <input class="form-control" type="text" placeholder="Last Name" name="last">
					 </div>
					</div>

					<div class="row">
					 <div class="col-md-12">
					     <input class="form-control" type="email" placeholder="Email Address" name="email">
					 </div>
					</div>


					<div class="row">
					 <div class="col-md-12">
					     <textarea class="form-control" name="message" rows="8" cols="80">Message...</textarea>

					 </div>
					</div>


					<div class="row">
					 <div class="col">
					        <button class="btn btn-danger btn-outline-danger form-control" type="submit" method="post" name="Submit" value="submit">Submit</button>
					 </div>
					</div>
					</form>


       </div>
     </div>
  </div>
</div>

<!-- Nav Modal -->
<div class="modal fade" id="navModal">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">

          <!-- <img src="Images/creative-dining-logo.png" alt="Creative Dining"> -->


			 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       </div>

       <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown-10" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Being Creative<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-10">
              <a class="dropdown-item" href="/history/">History of Creative Dining</a>
              <a class="dropdown-item" href="/philosophy/">Philosophy</a>
              <a class="dropdown-item" href="/people/">Our People</a>
              <a class="dropdown-item" href="/responsive/">Being Responsive</a>
            </div>
         </li>

         <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown-20" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              So Why Us?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-20">
              <a class="dropdown-item" href="/creative/">Creativity &amp; Flexibility</a>
              <a class="dropdown-item" href="/quality/">Quality &amp; Integrity</a>
              <a class="dropdown-item" href="/food/">Food Matters</a>
              <a class="dropdown-item" href="/cic/">CIC</a>
              <a class="dropdown-item" href="/collaboration/">Collaborations</a>
            </div>
         </li>

         <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown-30" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Expertise
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-30">
              <a class="dropdown-item" href="/university/">College &amp; University Dining</a>
              <a class="dropdown-item" href="/senior-living/">Senior Living Dining</a>
              <a class="dropdown-item" href="/industry/">Buisness &amp; Industry Dining</a>
              <a class="dropdown-item" href="/conference/">Conference Center Operations</a>
              <a class="dropdown-item" href="/consulting/">Consulting Services</a>
              <a class="dropdown-item" href="/reviews/">What our Clients Say</a>
              <a class="dropdown-item" href="/collaboration/">Collaboration</a>
            </div>
         </li>

         <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown-40" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              A Better World
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-40">
              <a class="dropdown-item" href="/grow/">Grow Program</a>
              <a class="dropdown-item" href="/farmstead/">FarmStead</a>
              <a class="dropdown-item" href="/trashed/">Trashed</a>
              <a class="dropdown-item" href="/seed-certification">SEED Certficiations</a>
              <a class="dropdown-item" href="/sourcing/">Sourcing</a>
           </div>
         </li>

         <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
         </li>
          <hr>
          <a class="nav-item nav-link" href="/contact/">CONTACT</a>
          <a class="nav-item nav-link" href=" http://newton.newtonsoftware.com/career/CareerHome.action?clientId=8a7882675847984a01586a63bec80f7d">WORK WITH US</a>
          <a class="nav-item nav-link" href="/login/">MEMBERS Portal</a>

       </div>
     </div>
  </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!-- <script src="yummy.js"></script> -->


</body>
</html>
