<div data-spy="scroll" data-target="#nav-custom" class="fullscreen">
<div class="jumbotron jumbotron-fluid fullscreen greyscale" id="one">
  <div class="container screen homepage">
    <h1 class="display-4 text-center">Software Developer</h1>
    <p class="lead rounded text-center">An Independent Computer Programmer</p>
    <p class="text-center"><a id="contact-button" class="btn btn-outline btn-outline-custom btn-lg btn-jumbo" href="#two" role="button">About</a></p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid greyscale" id="two">
  <div class="container screen">
    <h2 class="display-4 text-center">About</h2>
      <p class="lead rounded text-center">My early life was involved in Graphic Design, but I went to school for Software Engineering, and have continued to pursue it as a hobby ever since. After spending many years in leadership positions repairing computers, I have decided to leave my job in the computer production & repair industry and return to my true passion of writing code.</p>
    <p class="text-center"><a id="blog-button" class="btn btn-outline btn-outline-custom btn-lg btn-jumbo" href="#three" role="button">Programming Certifications</a></p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid greyscale" id="three">
  <div class="container justify-content-center screen">
    <h2 class="display-4">Qualifications</h2>

    <p class="lead text-center"><iframe src="/resume.html">iFrames are disabled!</iframe>
    <a class="btn btn-outline btn-outline-custom" href="#" roll="button">Download</a></p>
  <div class="container-custom">
    <p class="text-center"><a id="resume-button" class="btn btn-outline btn-outline-custom btn-lg btn-jumbo mx-auto" href="#four" role="button">Portfolio</a></p>
  </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid greyscale" id="four">
  <div class="container screen">
    <h1 class="display-4">Gallery</h1>

    <div class="row justify-content-center">

      <div class="col-3">
        <a href="/fantasy">
          <div class="card mb-3">
            <img class="card-img-top" src="voskuhl/gallery-1.png">
            <div class="card-body">
              <h5 class="card-title">Fantasy Theme</h5>
              <p class="card-text">A highly custimizable website aimed at fantasy writers and game developers</p>
              <p class="card-text"><small class="text-muted">Downloaded 1023 times</small></p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-3">
        <a href="/occult">
          <div class="card mb-3">
            <img class="card-img-top" src="voskuhl/gallery-2.png">
            <div class="card-body">
              <h5 class="card-title">Dark Theme</h5>
              <p class="card-text">A dark website oriented towards bloggers and content creators</p>
              <p class="card-text"><small class="text-muted">Downloaded 1672 times</small></p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-3">
        <a href="/cool-steel">
          <div class="card mb-3">
            <img class="card-img-top" src="voskuhl/gallery-3.png">
            <div class="card-body">
              <h5 class="card-title">Cool Steel Theme</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Downloaded 439 times</small></p>
            </div>
          </div>
        </a>
      </div>

    </div>

    <p class="text-center"><a id="gallery-button" class="btn btn-outline btn-outline-custom btn-lg btn-jumbo" href="#five" role="button">Next</a></p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid greyscale" id="five">
  <div class="container screen">
    <h1 class="display-4 text-center">Hire</h1>

    <div>
      <form>
        <fieldset id="contact-form">
          <div class="row">
            <div class="col-sm-4 text-right">Name</div>
            <div class="col-sm-6"><input type="text" placeholder="Alex Smith"></input></div>
          </div><br>
          <div class="row">
            <div class="col-sm-4 text-right">Email</div>
            <div class="col-sm-6"><input type="email" placeholder="example@domain.com"></input></div>
          </div><br>
          <div class="row">
            <div class="col-sm-4 text-right">Project Title</div>
            <div class="col-sm-6"><input type="text" placeholder="My Project Name"></input></div>
          </div><br>
          <div class="row">
            <div class="col-sm-4 text-right">Project Type</div>
            <div class="col-sm-6"><select id="developer-form">
              <option value="">Select Type...</option>
              <option value="website">Web Design</option>
              <option value="SEO">Search Engine Optimization</option>
              <option value="mobile">Mobile Application</option>
              <option value="desktop">Desktop Software</option>
              <option value="bugfix">Fix Software Bug</option>
              <option value="server">Remote Server Administration</option>
              <option value="secure">Security Consultation</option>
              <option value="other">Other</option>
            </select></div>
          </div>
          <br>
          <textarea> Please include a description of the project as well as a list of requirements you would like satisfied by the end result. You will be contacted with an estimate within 48 hours via the email provided.</textarea>


        </fieldset>
      </form>
    </div>

    <p class="text-center"><a id="job-button" class="btn btn-submit btn-outline-custom btn-lg btn-jumbo" href="#one" role="button">Post Job</a></p>

</div>

</div>
