<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 text-right">
      <a href="#">Terms and Agreements</a>
    </div>
    <div class="col-4 text-center">
      <a href="#">Legal</a>
    </div>
    <div class="col-4 text-left">
      <a href="#">Affiliates</a>
    </div>
  </div>

  <div class="row mx-auto justify-content-center">
    Phone: (321) 802-1543
  </div>

  <div class="row mx-auto justify-content-center">
    Email: CodeMonkey720@gmail.com
  </div>

  <div class="row mx-auto justify-content-center">
    Copyright {{currentYear}}
  </div>
</div>
