<nav class="navbar navbar-expand-lg fixed-top" id="nav-custom">
  <a class="navbar-brand" href="#"><img class="icon" src="voskuhl/g-v.png" height="40" width="40">Proffesional Programmer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-inverse navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#one">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#two">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#three">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#four">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#five">Services</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Facebook</a>
          <a class="dropdown-item" href="#">LinkedIn</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Email</a>
          <a class="dropdown-item" href="#">Phone</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
